.borders {
    -fx-border-width: 1;
    -fx-border-color: black;
}

.hspace-small {
    -fx-min-width:20px;
    -fx-max-width:40px;
}

.vspace-small {
    -fx-min-height:20px;
    -fx-max-height:40px;
}
